.clickable,
.allMsg .user {
    cursor: pointer;
}

.block-unblock-user,
.toggle-message,
.spam-user,
.friend-user,
.add-remove-user {
    cursor: pointer;
    width: 11px;
    height: 11px;
    margin-right: 5px;
}

.report-user {
    cursor: pointer;
    margin-top: 2px;
}

.message-text.collapsed {
    display: none;
    visibility: hidden;
}

span.time {
    margin-left: 5px;
}

#report-user-modal input[name="subject"],
#report-user-modal textarea[name="body"] {
    width: 100%;
}

#report-user-modal textarea[name="body"] {
    height: 150px;
}
